mjx-container svg {
  display: inline !important;
}

p > mjx-container:only-child {
    margin: 0 auto !important;
}

.prose pre.mermaid{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}